$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "../styles/bootstrap-tagsinput";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Template style */
body {
  padding-top: 40px;
  max-width: 960px;
  margin: 0 AUTO;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
 .navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
 }
}

tr.clickable:hover {
  cursor: pointer;
}

.breadcrumb {
  background-color: #DDDDDD;
}

.breadcrumb > li > .divider {
  color: #888888
}

.breadcrumb a.inactive {
  color: #005580;
  text-decoration: none;
}

.p_job {
    margin: 5px 1px 1px 1px;
    border-bottom: 1px dashed #DDD;
}

.nav-tabs-narrow {
  margin-bottom: 1px;
}

.nav-tabs > .active > a {
  font-weight: bold;  
}

/* Sub table */
.subtable {
    width: 100%;
}
.subtable td {
    border-left: 0px;
}

/* Form */
select.short {
    width: 150px;
}

input[type="checkbox"] {
  margin: 4px;
}

/* Sort */
table.table thead .sorting {
  background: url('../images/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('../images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('../images/sort_desc.png') no-repeat center right;
}

/* console */
.console {
    background-color-11: rgba(0, 0, 0, 0.1);
    background-color: #000000;
    border: 2px groove #000000;
    bottom: 0;
    font-family: Monospace, "Courier New","Courier",sans-serif;
    height: 525px;
    position-111: absolute;
    width-111: 100%;
    color: #00FF1E;
}
.console ol, .console li, .console p {
    margin: 0;
    padding: 0;
}
.console ol {
    height: 500px;
    list-style-position: inside;
    overflow: auto;
    padding-left: 10px;
    list-style: none;
}
.console p {
    padding-left: 15px;
}
.console .input {
    display: inline-block;
    width: 20px;
}
.blink {
}
.console .icaret {
    background-color: #00FF1E;
    color: #FFFFFF;
    padding: 2px 4px;
}

/* screenshot dialog */
.modal-footer-center {
  text-align: center
}
.modal-body img {
  width: 250px;
  border: 2px groove #D9EDF7;
}
.modal-body-cus {
  max-height: 450px;
}
.modal-header {
  background-color: #D9EDF7;
  border-radius: 6px 6px 0 0;
