
<form class="form-horizontal" class="css-form" novalidate>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name='name' placeholder='Task Name' ng-model="newTaskForm.name" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <input type="text" name='description' placeholder='Task Description' ng-model="newTaskForm.description" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Repo</label>
      <div class="controls">
        <input type="text" name='repo_url' placeholder='Repo URL' ng-model="newTaskForm.repo_url" required>
      </div>
    </div>
  </fieldset>

  <hr style="margin-top:0px;">

  <fieldset >
    <!-- div class="control-group">
        <button class='btn' ng-class="{'btn-primary':showDevice==false}" ng-click="toggleModelDevice()">Models</button>
        <button class='btn' ng-class="{'btn-primary':showDevice==true}" ng-click="toggleModelDevice()">Devices</button>
    </div -->
    <div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-narrow">
        <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="toggleModelDevice()">Models</a></li>
        <li><a href="javascript:void(0)" data-toggle="tab" ng-click="toggleModelDevice()">Devices</a></li>
      </ul>
    </div>

    <table class="table table-bordered table-hover" ng-init="reverse=false">
      <thead>
        <tr>
          <th id="sort_platform" class="sorting"><a href="javascript:void(0)" title="Sort by Platform" ng-click="predicate='platform'; reverse=!reverse; sortByPlatform()">Platform</a></th>
          <th>Version</th>
          <th id="sort_brand" class="sorting"><a href="javascript:void(0)" title="Sort by Brand" ng-click="predicate='product.model'; reverse=!reverse; sortByBrand()">Brand</a></th>
          <th>Model</th>
          <th ng-show="showDevice">SW</th>
          <th ng-show="showDevice">Device</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" ng-repeat="device in devices | filter:filterCondition | orderBy:predicate:reverse" ng-class="{info:device._selected}" ng-click="setSelected(device)">
          <td>
            <span ng-show="device._selected" class="label label-info"><i class="icon-ok icon-white"></i></span>
            <span ng-show="!device._selected" class="label "><i class="icon-ok icon-white"></i></span>
             {{device.platform}}
           </td>
          <td>{{device.build.version.release}}</td>
          <td>{{device.product.manufacturer}}</td>
          <td>
            {{device.product.model}}
            <span class="badge badge-success" ng-show="!showDevice" style="float:right;"><i class="icon-leaf icon-white"></i></span>
          </td>
          <td ng-show="showDevice">{{device.build.version.codename}}</td>
          <td ng-show="showDevice">
            {{device.id}}
            <span class="badge badge-success" style="float:right;"><i class="icon-leaf icon-white"></i></span>
          </td>
        </tr>
      </tbody>
    </table>

  </fieldset>

  <div class="control-group">
    <div class="controls">
      <input type='submit' name='submit' value='Create' class='btn btn-primary' ng-click="submitTask()" ng-disabled="newTaskForm.$invalid">
      <input type='button' value='Cancel' class='btn btn-warning' ng-click="cancelTask()">
    </div>
  </div>

</form>