
<form class="form-horizontal" class="css-form" novalidation>
    <fieldset>
      <legend>Task Info</legend>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name='name' placeholder='Task Name' ng-model="newTaskForm.name" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <input type="text" name='description' placeholder='Task Description' ng-model="newTaskForm.description" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Repo</label>
      <div class="controls">
        <input type="text" name='repo_url' placeholder='Repo URL' ng-model="newTaskForm.repo_url" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Rule</label>
      <div class="controls">
        <select ng-model="newTaskForm.r_type">
          <option value="none" selected>None</option>
          <option value="exclusive">Exclusive</option>
          <option value="dependent">Dependent</option>
        </select>
      </div>
    </div>
</fieldset>

    <hr>

  <fieldset >
    <legend>Device Info
    </legend>

    <div class="control-group">
      <label class="control-label">Platform</label>
      <div class="controls">
        <input type="checkbox" value="android" ng-click="selectPlatform($event)">android
        <input type="checkbox" value="tizen" ng-click="selectPlatform($event)">tizen
      </div>
    </div>

    <div class="control-group" ng-show="selectedOptions.platforms.length > 0">
      <label class="control-label">Brand</label>
      <div class="controls">
        <span ng-repeat="device in manufacturerGroup() | filter:manufacturerFilter">
          <input type="checkbox" value="{{device.product.manufacturer}}" ng-click="selectManufacturer($event)">{{device.product.manufacturer }}
        </span>
      </div>
    </div>

    <div class="control-group" ng-show="selectedOptions.manufacturers.length > 0">
      <label class="control-label">Model</label>
      <div class="controls">
        <span ng-repeat="device in modelGroup() | filter:modelFilter">
          <input type="checkbox" value="{{device.product.model}}" ng-click="selectModel($event, device._index)">{{device.product.model }}
        </span>
      </div>
    </div>

    <div class="control-group" ng-show="objectLength(selectedOptions.models)">
      <label class="control-label">Device</label>
      <div class="controls">
        <div>
          <input type="checkbox" value="anyDevice" ng-model="device_filter.anyDevice"  ng-click="selectDevice($event)">Any
        </div>
        <div ng-repeat="device in deviceGroup() | filter:deviceFilter">
          <input type="checkbox" value="{{device.id}}" ng-disabled="device_filter.anyDevice" ng-click="selectDevice($event, device._index)">{{device.id}}
        </div>
      </div>
    </div>

  </fieldset>

  <hr>
    <div class="control-group">
      <div class="controls">
        <input type='submit' name='submit' value='Create' class='btn btn-primary' ng-click="submitTask()" ng-disabled="newTaskForm.$invalid">
        <input type='button' value='Cancel' class='btn btn-warning' ng-click="cancelTask()">        
      </div>
  </div>

</form>