
<form class="form-horizontal" class="css-form" novalidate>
  <fieldset>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name='name' placeholder='Task Name' ng-model="newTaskForm.name" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <input type="text" name='description' placeholder='Task Description' ng-model="newTaskForm.description" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Repo</label>
      <div class="controls">
        <input type="text" id="repo_name" name='repo_url' autocomplete="off" placeholder='Repo URL' ng-model="newTaskForm.repo_url" required>
        <input type="checkbox" ng-model="showRepoList", value="{showRepoList}"> Show repo list
      </div>
      <div class="controls" ng-show="showRepoList">
        <select size="10" id="repo_combo" ng-model="newTaskForm.repo" ng-change="onRepoSelectChange()" ng-options="repo.clone_url for repo in repos">
          <option value=""></option>
        </select>
        <div style="display: inline-block" >
          <div style="background-color: #EEEEEE" ng-show="newTaskForm.repo.full_name != undefined">
            <strong>Name</strong>:  {{newTaskForm.repo.full_name}}<br>
            <strong>Owner</strong>: {{newTaskForm.repo.owner.login}}<br>
            <strong>URL</strong>:   {{newTaskForm.repo.clone_url}}<br>
          </div>
        </div>
        <!--textarea rows="8" cols="20" ng-disabled="true">Name: {{newTaskForm.repo.full_name}}&#13;URL: {{newTaskForm.repo.clone_url}}&#13;Owner: {{newTaskForm.repo.owner.login}}
        </textarea-->
      </div>
    </div>
  </fieldset>

  <hr style="margin-top:0px;">

  <fieldset >
    <!-- div class="control-group">
        <button class='btn' ng-class="{'btn-primary':showDevice==false}" ng-click="toggleModelDevice()">Models</button>
        <button class='btn' ng-class="{'btn-primary':showDevice==true}" ng-click="toggleModelDevice()">Devices</button>
    </div -->
    <div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-narrow">
        <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="toggleModelDevice()">Models</a></li>
        <li><a href="javascript:void(0)" data-toggle="tab" ng-click="toggleModelDevice()">Devices</a></li>
      </ul>
    </div>

    <table class="table table-bordered table-hover" ng-init="reverse=false">
      <thead>
        <tr>
          <th id="sort_platform" class="sorting"><a href="javascript:void(0)" title="Sort by Platform" ng-click="predicate='platform'; reverse=!reverse; sortByPlatform()">Platform</a></th>
          <th>Version</th>
          <th id="sort_brand" class="sorting"><a href="javascript:void(0)" title="Sort by Brand" ng-click="predicate='product.model'; reverse=!reverse; sortByBrand()">Brand</a></th>
          <th>Model</th>
          <th ng-show="showDevice">SW</th>
          <th ng-show="showDevice">Device</th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable" ng-repeat="device in devices | filter:filterCondition | orderBy:predicate:reverse" ng-class="{info:device._selected}" ng-click="setSelected($event, device)">
          <td>
            <span ng-show="device._selected" class="label label-info"><i class="icon-ok icon-white"></i></span>
            <span ng-show="!device._selected" class="label "><i class="icon-ok icon-white"></i></span>
             {{device.platform}}
           </td>
          <td>{{device.build.version.release}}</td>
          <td>{{device.product.manufacturer}}</td>
          <td>
            {{device.product.model}}
            <span style="float:right;">
              <button href="javascript:void(0)" class="btn btn-primary btn-small" ng-click="editEnv(device)" name="operation_btn" ng-disabled="!device._selected"><i class="icon-edit icon-white"></i></button>
              <!--span class="badge badge-success" ng-show="!showDevice" style="float:right;"><i class="icon-edit icon-white"></i></span-->
            </span>
          </td>
          <td ng-show="showDevice">{{device.build.version.codename}}</td>
          <td ng-show="showDevice">
            {{device.id}}
            <span style="float:right;">
              <button href="javascript:void(0)" class="btn btn-primary btn-small" ng-click="editEnv(device)" name="operation_btn" ng-disabled="!device._selected"><i class="icon-edit icon-white"></i></button>
              <!-- span class="badge badge-success"><i class="icon-leaf icon-white"></i></span -->
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </fieldset>

  <div class="control-group">
    <div class="controls">
      <input type='submit' name='submit' value='Create' class='btn btn-primary' ng-click="submitTask()" ng-disabled="newTaskForm.$invalid">
      <input type='button' value='Cancel' class='btn btn-warning' ng-click="cancelTask()">
    </div>
  </div>

</form>

<!-- The ENV dialog -->

<div id="envEditor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myLabel">Repo Env</h4>
  </div>
  <div class="modal-body modal-body-cus" id="body">
    <p class="text-center" ng-show="!newTaskForm.repo.env">
      Loading Repo Env: {{newTaskForm.repo_url}} ...
    </p>
    <p class="text-center" ng-show="newTaskForm.repo.env">
      <form class="form-horizontal">
        <div ng-repeat="(key, value) in editingDevice._env">
          <div ng-switch on="value.options.length == 0">

            <div class="control-group" ng-switch-when="false">
              <label class="control-label">{{key}}</label>
              <div class="controls" ng-switch on="value.fix">
                <div ng-switch-when="true">
                  <input type="text" id="{{key}}" ng-model="value.displayValue" required>
                </div>
                <div ng-switch-when="false">
                  <select id="{{key}}" ng-model="value.displayValue" ng-options="o for o in value.options">
                    <!-- option ng-repeat="o in value.options" value="{{o}}">{{o}}</option -->
                  </select>
                </div>
              </div>
            </div>

            <div class="control-group" ng-switch-when="true">
              <label class="control-label">{{key}}</label>
              <div class="controls">
                <input type="text" name='name' placeholder='{{key}}' ng-model="value.displayValue" required>
              </div>
            </div>

          </div>
        </div>
      </form>
    </p>
  </div>
  <div class="modal-footer modal-footer-center">
    <a id="prev_btn" href="javascript:void(0)" class="btn btn-primary has-spinner" ng-class="{active:!newTaskForm.repo.env}" ng-click="saveEnv()" data-dismiss="modal"><span class="spinner"><i class="icon-refresh icon-white icon-spin"></i></span>Save</a>
    <a id="next_btn" href="javascript:void(0)" class="btn btn-primary" ng-click="cancelEnv()" data-dismiss="modal" aria-hidden="true">Cancel</a>
  </div>
</div>