
<div class="tabbable">
  <ul class="nav nav-tabs nav-tabs-narrow">
    <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="my_filter={}">All</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" ng-click="my_filter={idle:true}">Idle</a></li>
  </ul>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Workstaion</th>
      <th>IP</th>
      <th>Brand</th>
      <th>Product</th>
      <th>SN</th>
      <th width="30%">Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="device in devices | filter:my_filter" ng-class="{success:device.idle}">
      <td>{{getWkName(device)}}</a></td>
      <td>{{device.workstation.ip}}</td>
      <td>{{device.product.brand}}</td>
      <td>{{device.product.model}}</td>
      <td>{{device.serial}}</td>
    <td>
      <bootstrap-tagsinput
        ng-model="device.tags" 
        ng-extra="device"
        placeholder="+"
        updatetag="updateTag" tryUpdate="tryRemove"
        typeahead-source="queryTags"
        tagclass="getTagClass">
      </bootstrap-tagsinput>
    </td>
    </tr>
  </tbody>
</table>

<br>
