
<div class="row-fluid">
  <div class="pull-right">
      <button class='btn btn-danger' ng-click="cancelAll()">Cancel All</button>
      <button class='btn btn-primary' ng-click="restartAll()">Restart All</button>
  </div>
</div>
<h4>{{task.name}}</h4>

<table class="table table-bordered table-hover">
  <tr>
    <th>Job ID</th>
    <th>Start Time</th>
    <th>Duraion</th>
    <th>Creator</th>
    <th>Device</th>
    <th>Status</th>
    <th col="2">Operation</th>
  </tr>
  <tr class="clickable" ng-repeat='job in task.jobs' ng-class="{success:job.status=='running', error:job.status=='failed'}" ng-click="viewResult($event, job)">
    <td>{{job.no}}</td>
    <td>{{job.modified_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    <td>{{job._duration/3600 | number:0}}:{{job._duration%3600/60 | number:0}}:{{job._duration%60 | number:0}}</td>
    <td>{{task.creator.email}}</td>
    <td><img ng-src="{{getIndicator(job)}}"> {{ getDevice(job) }}</td>
    <td>{{job.status}}</td>
    <td>
      <div ng-switch on="job.status">
        <div ng-switch-when="finished">
          <a href="javascript:void(0)" class="btn btn-primary" ng-click="stream(job)" name="operation_btn">
            <i class="icon-list-alt icon-white"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-primary" ng-click="restart(job)" name="operation_btn">
            <i class="icon-repeat icon-white"></i>
          </a>
        </div>
        <div ng-switch-when="cancelled">
          <a href="javascript:void(0)" class="btn btn-primary" ng-click="stream(job)" name="operation_btn"><i class="icon-list-alt icon-white"></i></a>
          <a href="javascript:void(0)" class="btn btn-primary" ng-click="restart(job)" name="operation_btn"><i class="icon-repeat icon-white"></i></a>
        </div>
        <div ng-switch-default> <!-- new/started/running -->
          <a href="javascript:void(0)" class="btn btn-info" ng-click="stream(job)" ng-disabled="job.status != 'started'" name="operation_btn">
            <i class="icon-list-alt icon-white"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-danger" ng-click="cancel(job)" name="operation_btn">
            <i class="icon-remove icon-white"></i>
          </a>
        </div>
      </div>
    </td>
  </tr>
</table>

