<div style='width:1024px; height:auto; margin:40px auto'>
	<div class="container-fluid">
	    <div class="row-fluid">
		    <div class="span9" >
				<div class='tab-content'>
				<div class='tab-pane active'>

				<div><button class='btn btn-primary' ng-click="create()">New Project</button></div>
				<br>
				<div class='create_project' style='display:none'>
					<input type='text' ng-model='newproject' placeholder="New project Name"><br>
					<button class='btn' ng-click="cancel()">Cancel</button>
					<button class='btn btn-primary' ng-click="createproject()">Create</button>
				</div>
				<table class='table table-striped table-hover'>
							<thead>
								<th>Name</th>
								<th>Owner</th>
								<th></th>
							</thead>
						<tbody>
							<tr ng-repeat='project in projects' ng-switch on='project.userrole'>
							<td class='projecthover' style='width:500px;'>
							    {{project.name}}
							</td>
							<td class='projecthover'>
                                <span style=''>{{project.creator.email}}</span>
							</td>                                              
                            <td> 
                            <td class='projecthover'>
							<button style='margin-left:5px;' ng-click="projectdetail(project.id)" type='button' class='btn btn-mini btn-info'>detail</button>
						    </td>
						    <td class='projecthover'>
	                        <button style='margin-left:5px;' ng-click="deleteproject(project.id)"  type='button 'class='btn btn-mini btn-danger'>delete</button>
	                        </td>
						</tr>
							</tbody>
							
						</table>	
					</div>
				</div>
		    </div>
		    <div class="span2">
		    	<div>
					<img style='width:150px;height:150px;' ng-src='{{avatar || "http://storage.aliyun.com/wutong-data/system/1_L.jpg"}}'>
					<span style='display:block;font-weight:bold;font-size:16px;width:150px;text-align:center;' ng-model='username'>{{getUserName()}}</span>
			</div>
		    </div>
	    </div>
    </div> 
</div>
