<div class="row-fluid">
  <div style="float:right">
      <button class='btn btn-primary' ng-click="addtask()"><i class="icon-edit icon-white"></i> Create Task</button>
      <button class='btn btn-primary' ng-click="cfgusers()"><i class="icon-user icon-white"></i> Members</button>
  </div>
</div>

<div class="row-flu1id">
  <!-- div class="control-group">
    <button class='btn' ng-class="{'btn-primary':activeFilter==true}" ng-click="activeFilter=true">Active</button>
    <button class='btn' ng-class="{'btn-primary':activeFilter==false}" ng-click="activeFilter=false">Finished</button>
  </div -->
  <div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-narrow">
      <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="activeFilter=true; loadData()">Active</a></li>
      <li><a href="javascript:void(0)" data-toggle="tab" ng-click="activeFilter=false; loadData()">Finished</a></li>
    </ul>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Creator</th>
        <th>Repo</th>
        <th>Description</th>
        <th>Active</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody ng-repeat='task in dataset.tasks | filter:statusFilter'>
      <tr class="success clickable"  ng-click="viewTask($event, task)">
        <td><a href="javascript:void(0)" ng-click="task.hidden = !task.hidden">{{task.name}}</a></td>
        <td>{{task.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{task.creator.email}}</td>
        <td><i class="icon-info-sign" title="{{task.jobs[0].repo_url}}"></i></td>
        <td>{{task.description}}</td>
        <td>{{task._actives}}/{{task.jobs.length}}</td>
        <td>
          <!--button name="operation_btn" class="btn btn-primary" ng-show="!activeFilter" ng-click="restart(task)">Restart</button>
          <button name="operation_btn" class="btn btn-danger" ng-show="activeFilter" ng-click="cancel(task)">Cancel</button-->
          <a href="javascript:void(0)" class="btn btn-primary" ng-click="restart(task)" name="operation_btn" ng-show="!activeFilter"><i class="icon-repeat icon-white"></i></a>
          <a href="javascript:void(0)" class="btn btn-danger" ng-click="cancel(task)" name="operation_btn" ng-show="activeFilter"><i class="icon-remove icon-white"></i></a>
        </td>
      </tr>
      <!-- tr ng-class="{hide:task.hidden==true}" ng-init="task.hidden=true">
        <td></td>
        <td colspan="4">
          <! - - Embedded table - ->
          <table class="subtable">
            <tr ng-repeat="job in task.jobs">
              <td>Job-{{job.no}}</td>
              <td>{{getWorkstation(job)}}</td>
              <td>{{getProductInfo(job)}}</td>
              <td>{{getSerial(job)}}</td>
              <td>{{job.status}}</td>
            </tr>
          </table>
      </tr -->
    </tbody>
  </table>
  <br>
</div>

<div class="pagination pagination-right">
  <ul>
    <li ng-class="{disabled:pageControl.pageIndicators[0].index<=0}">
      <a href="javascript:void(0)" ng-click="pageControl.prev()">&laquo;</a>
    </li>

    <li ng-show="p.show" ng-class="{disabled:p.disable}" ng-repeat="p in pageControl.pageIndicators">
      <a href="javascript:void(0)" ng-click="goto($index)">{{p.index + 1}}</a>
    </li>

    <li ng-class="{disabled:pageControl.pageIndicators[4].index>=pageControl.pageCount-1}">
      <a href="javascript:void(0)" ng-click="pageControl.next()">&raquo;</a>
    </li>
  </ul>
</div>
