<div class="row-fluid">
  <button class='btn btn-primary pull-right' ng-click="create()">Create User</button>
</div>
<br>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>User Name</th>
      <th>Priority</th>
      <th with="50%">Tags</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat='user in users'>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.name}}</td>
    <td>{{user.priority}}</td>
    <td>
      <bootstrap-tagsinput
        ng-model="user.tags"
        ng-extra="user"
        placeholder="+"
        updatetag="updateTag" tryupdate="tryRemove"
        typeahead-source="queryTags"
        tagclass="getTagClass">
      </bootstrap-tagsinput>
    </td>
  </tr>
  </tbody>
</table>
