<p>There are {{users.length}} Account(s).<br>
<button class='btn btn-primary' ng-click="create()">New Account</button>

<div class='create_user' style="display:none">
  <label>Email</label><input type='text' ng-model='user_email' placeholder="New Account"><br>
  <label>Password</label><input type='text' ng-model='user_password'><br>
  <button class='btn' ng-click="cancel()">Cancel</button>
  <button class='btn btn-primary' ng-click="createuser()">Create</button>
</div>
<hr>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>username</th>
      <th>priority</th>
      <th>tags</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat='user in users'>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.name}}</td>
    <td>{{user.priority}}</td>
    <td>
      <ul class="subtable">
        <li ng-repeat="tag in user.tags">{{tag}}
          <a href="javascript:void(0)" ng-click="remove_usertag(user.id, user.tags, tag)">[x]</a>
        </li>
      </ul>
      <a href="javascript:void(0)" ng-click="showaddtag(user.id)">[+Tag]</a>
      <div class='add_tag{{user.id}}' style="display:none">
        <select ng-model="seltag[user.id]">
          <option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
        </select>
        <a class='btn btn-small' href="javascript:void(0)" ng-click="hideaddtag(user.id)">Cancel</a>
        <a class='btn btn-small btn-primary' href="javascript:void(0)" ng-click="add_usertag(user.id, user.tags)">Ok</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<br>
