<div class="row-fluid">
  <button class='btn btn-primary pull-right' ng-click="create()">Create User</button>
</div>
<div class="row-fluid">
  <div class='create_user pull-right' style="display:none">
    <label>Email</label><input type='text' ng-model='user_email' placeholder="New Account"><br>
    <label>Password</label><input type='text' ng-model='user_password'><br>
    <button class='btn' ng-click="cancel()">Cancel</button>
    <button class='btn btn-primary' ng-click="createuser()">Create</button>
  </div>
</div>
<br>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>User Name</th>
      <th>Priority</th>
      <th with="50%">Tags</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat='user in users'>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
    <td>{{user.name}}</td>
    <td>{{user.priority}}</td>
    <td>
      <bootstrap-tagsinput
        ng-model="user.tags" 
        ng-user="user"
        placeholder="Add"
        updatetag="updateTag" tryUpdate="tryRemove"
        typeahead-source="queryTags"
        tagclass="getTagClass">
      </bootstrap-tagsinput>
    </td>
  </tr>
  </tbody>
</table>
